{{#Question}}
<li id="question{{{id}}}" class="question">
{{#edit}}
    <div class="draggable">move</a>
{{/edit}}
    
{{question}}

{{#edit}}
    <a href="/questions/remove_from_test/{{test_id}}/{{question_id}}" class="removeFromTest">remove</a>
{{/edit}}

{{^edit}}
    <div class="sampleAnswer">
        <strong>Sample Answer: </strong>{{sample_answer}}
    </div>
{{/edit}}

</li>
{{/Question}}