/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 11, ../sass/screen.sass */
#header, #footer {
  display: inline;
  float: left;
  margin-right: 5px;
  width: 970px;
}
/* line 147, ../../../../../../../../../../var/lib/gems/1.8/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #header, * html #footer {
  overflow-x: hidden;
}

/* line 14, ../sass/screen.sass */
#leftcol {
  display: inline;
  float: left;
  margin-right: 5px;
  width: 320px;
}
/* line 147, ../../../../../../../../../../var/lib/gems/1.8/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #leftcol {
  overflow-x: hidden;
}

/* line 16, ../sass/screen.sass */
#rightcol {
  display: inline;
  float: left;
  margin-right: 0;
  width: 645px;
}
/* line 147, ../../../../../../../../../../var/lib/gems/1.8/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #rightcol {
  overflow-x: hidden;
}

/* line 19, ../sass/screen.sass */
.printOnly, .inlinePrintOnly {
  display: none;
}
